.input-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    &__input-label {
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    &__input-field {
        border: 1px solid #acacac;
        border-radius: 6px;
        padding: 10px;
        &:placeholder {
            color: #acacac;
        }
    }
}
