.home-page {
    padding: 20px;
    &__vehicle-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &__search-filter-box {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
    }
}
