.searchbar {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    &__input-text {
        border: 1px solid #999999;
        padding: 10px;
        padding-left: 23px;
        border-radius: 6px;
        width: 100%;
    }
    &__input-icon {
        position: absolute;
        top: 26px;
        left: 7px;
        color: #999999;
    }
}